# Ignore all environment files
.env*
# Except the example templates
!.env.example
!.env.*.example

.venv/
.vscode/
**/__pycache__/
dev/.dev_state/
docs/.obsidian/
docs/knowledge_for_llms/
.pytest_cache/