name: Python CI

# Controls when the workflow will run
on:
  pull_request:
    branches: [ main, master ]
    types: [opened, synchronize, reopened]
  push: # Also run on pushes to the main branch (optional, but good practice)
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.11'] # Specify the Python version you use

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4 # Action to check out your code

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run pytest
      run: |
        pytest